<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Error Page</title>
    <link rel="stylesheet" th:href="@{/css/error.css}" />
</head>
<body>
<div class="error-container">
    <div class="error-card-wrapper">
        <div class="error-card">
            <div class="error-content">
                <div class="error-icon">
                    <i class="pi pi-fw pi-exclamation-circle"></i>
                </div>
                <h1 class="error-title">Error Occurred</h1>
                <span class="error-subtitle">Requested resource is not available.</span>
                <img src="https://primefaces.org/cdn/templates/sakai/auth/asset-error.svg" alt="Error" class="error-image"/>
                <div class="error-button-container">
                    <a th:href="@{/}" class="error-btn">Go to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
